@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.welcome-h1,
.new-shift-h1,
.new-visit-h1,
.customers-h1,
.shifts-h1,
.visits-h1,
.purchases-h1,
.holds-h1,
.comments-h1,
.staff-h1,
.edit-h1 {
  color: #222022;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 3rem;
  font-size: 4rem; }

body {
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

/* Landing */
.landing-image {
  background-image: url("../landing.jpg");
  background-size: cover;
  background-position: top;
  opacity: 0.8;
  filter: grayscale(100%);
  width: 100vw;
  height: 100vh;
  position: relative; }

.login-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(34, 32, 34, 0.95);
  min-width: 40rem;
  border-radius: 1rem;
  text-align: center; }
  .login-box .login-h1 {
    margin: 3rem 0;
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #ceccce;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center; }

.login-btn {
  text-transform: uppercase;
  background-color: #18d369;
  color: #222022;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  border: none; }
  .login-btn:hover {
    transform: translateY(-3px); }
  .login-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: #18d369;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .login-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .login-btn:focus {
    outline: none; }

.input-group {
  position: relative;
  padding: 1rem 2rem 2rem 2rem;
  margin: 0 1rem 2rem 1rem;
  transition: opacity 0.3s ease-in-out; }
  .input-group input {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ceccce;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 2rem;
    outline: 0;
    background: transparent;
    box-shadow: none;
    color: #ceccce;
    margin-bottom: 3rem; }
    .input-group input:focus {
      border-bottom: 1px solid #18d369; }
  .input-group .invalid-feedback {
    color: #ff2d26;
    letter-spacing: 1px;
    margin-bottom: 2rem; }

/* Header */
.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #222022;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .brand {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 3rem;
    color: #18d369; }
  .header .search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .search .search-input {
      font-family: inherit;
      font-size: 1.4rem;
      color: inherit;
      background-color: #f5f5f5;
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all .2s;
      margin-right: -3rem; }
      .header .search .search-input:focus {
        outline: none;
        width: 100%; }
      .header .search .search-input::-webkit-input-placeholder {
        color: #ceccce; }
    .header .search .search-btn {
      border: none;
      background-color: #f5f5f5;
      color: #4c4947;
      cursor: pointer; }
      .header .search .search-btn:focus {
        outline: none; }
      .header .search .search-btn:active {
        transform: translateY(2px); }
  .header .logout-btn {
    margin-right: 2rem;
    color: #18d369;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #18d369;
    border-radius: 100px;
    padding: 1rem 2rem; }
    .header .logout-btn:hover {
      background-color: #18d369;
      color: white; }

/* Dashboard layout */
.container {
  display: flex; }

/* Navbar - Sidebar */
.sidebar {
  background-color: #222022;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar .nav {
    margin-top: 3.5rem; }
    .sidebar .nav .link {
      position: relative;
      font-size: 1.4rem;
      color: white;
      display: block;
      padding: 2rem 3rem;
      display: flex;
      align-items: center; }
      .sidebar .nav .link:not(:last-child) {
        margin-bottom: .5rem; }
      .sidebar .nav .link .nav-link {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 10; }
      .sidebar .nav .link .nav-icon {
        font-size: 1.75rem;
        width: 1.75rem;
        margin-right: 2rem;
        z-index: 10; }
    .sidebar .nav .link::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #18d369;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
    .sidebar .nav .link:hover::before {
      transform: scaleY(1);
      width: 100%; }
  .sidebar .legal-text {
    text-align: center;
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-bottom: 2rem; }

/* Main content */
.content {
  flex: 1;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* New shift */
  /* Customers */
  /* Staff */
  /* Holds + Current Visits + Shifts */
  /* Customer by id */
  /* Comments */ }
  .content .date-time {
    border: 2px solid #ceccce;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    transform: translate(150%, -50%);
    font-size: 2rem;
    color: #4c4947;
    padding: 2rem; }
  .content .dashboard-btns {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    margin-top: -15rem; }
    .content .dashboard-btns .btn-container-left {
      margin-left: 10rem;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .content .dashboard-btns .btn-container-left .new-shift-btn {
        text-decoration: none;
        border: 2px solid #18d369;
        border-radius: 100px;
        padding: 3rem 4rem;
        background-color: #18d369;
        color: #f5f5f5;
        transition: all .2s; }
        .content .dashboard-btns .btn-container-left .new-shift-btn:hover {
          background-color: #f5f5f5;
          color: #18d369;
          transform: translateY(5px); }
    .content .dashboard-btns .btn-container-right {
      margin-right: 10rem;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .content .dashboard-btns .btn-container-right .new-visit-btn {
        text-decoration: none;
        border: 2px solid #18d369;
        border-radius: 100px;
        padding: 3rem 4rem;
        color: #18d369;
        transition: all .2s; }
        .content .dashboard-btns .btn-container-right .new-visit-btn:hover {
          background-color: #18d369;
          color: #f5f5f5;
          transform: translateY(5px); }
    .content .dashboard-btns .dash-icon {
      margin-bottom: 2rem;
      font-size: 3.5rem;
      color: #4c4947; }
  .content .new-shift-submit, .content .new-visit-submit {
    color: #f5f5f5;
    letter-spacing: 1px;
    font-weight: 700;
    left: 50%;
    transform: translate(-50%, -50%); }
  .content .new-shift-form, .content .new-visit-form {
    margin: 2rem 20rem; }
  .content .all-customers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 6rem; }
    .content .all-customers .customer {
      margin: 2rem 4rem; }
      .content .all-customers .customer .customer-links {
        color: #222022;
        text-decoration: none;
        border: 1px solid #18d369;
        border-radius: 100px;
        padding: .5rem 1rem;
        letter-spacing: .025rem; }
        .content .all-customers .customer .customer-links:hover {
          color: #f5f5f5;
          background-color: #18d369; }
      .content .all-customers .customer .customer-name {
        text-decoration: none;
        font-size: 1.6rem;
        color: #18d369;
        letter-spacing: .1rem; }
        .content .all-customers .customer .customer-name:hover {
          text-decoration: underline; }
      .content .all-customers .customer .links {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        font-size: 1.2rem;
        max-width: 35vw;
        border-bottom: 1px solid #ceccce;
        padding-bottom: 1.5rem; }
        .content .all-customers .customer .links .customer-edit {
          background-color: #18d369;
          color: #222022;
          text-decoration: none;
          border: 1px solid #18d369;
          border-radius: 100px;
          padding: .5rem 1rem;
          cursor: pointer;
          letter-spacing: .025rem;
          transition: all .2s ease-in-out; }
          .content .all-customers .customer .links .customer-edit:hover {
            transform: scale(1.1); }
          .content .all-customers .customer .links .customer-edit:focus {
            outline: none; }
        .content .all-customers .customer .links .customer-delete {
          background-color: #222022;
          color: #18d369;
          border: 1px solid #222022;
          border-radius: 100px;
          padding: .5rem 1rem;
          cursor: pointer;
          letter-spacing: .025rem;
          transition: all .2s ease-in-out; }
          .content .all-customers .customer .links .customer-delete:hover {
            transform: scale(1.1); }
          .content .all-customers .customer .links .customer-delete:focus {
            outline: none; }
  .content .customers-footer,
  .content .staff-footer {
    position: fixed;
    bottom: 0;
    padding: 2rem 4rem;
    border-top: 1px solid #ceccce;
    width: 100%;
    font-size: 1.4rem;
    background-color: white; }
    .content .customers-footer .new-customer-link,
    .content .customers-footer .new-staff-link,
    .content .staff-footer .new-customer-link,
    .content .staff-footer .new-staff-link {
      color: #18d369;
      text-decoration: none; }
      .content .customers-footer .new-customer-link:hover,
      .content .customers-footer .new-staff-link:hover,
      .content .staff-footer .new-customer-link:hover,
      .content .staff-footer .new-staff-link:hover {
        text-decoration: underline; }
  .content .all-staff {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4rem;
    margin-bottom: 6rem;
    max-width: 35vw; }
    .content .all-staff .individual-staff {
      margin-bottom: 2rem;
      border-bottom: 1px solid #ceccce;
      padding-bottom: 1.5rem; }
      .content .all-staff .individual-staff .staff-name {
        color: #4c4947;
        font-size: 1.6rem; }
      .content .all-staff .individual-staff .staff-btns {
        display: flex;
        justify-content: flex-end; }
        .content .all-staff .individual-staff .staff-btns .staff-delete {
          background-color: #222022;
          color: #18d369;
          border: 1px solid #222022;
          border-radius: 100px;
          padding: .5rem 1rem;
          cursor: pointer;
          letter-spacing: .025rem;
          transition: all .2s ease-in-out;
          margin-left: 5rem; }
          .content .all-staff .individual-staff .staff-btns .staff-delete:hover {
            transform: scale(1.1); }
          .content .all-staff .individual-staff .staff-btns .staff-delete:focus {
            outline: none; }
        .content .all-staff .individual-staff .staff-btns .staff-edit {
          background-color: #18d369;
          color: #222022;
          text-decoration: none;
          border: 1px solid #18d369;
          border-radius: 100px;
          padding: .5rem 1rem;
          cursor: pointer;
          letter-spacing: .025rem;
          transition: all .2s ease-in-out; }
          .content .all-staff .individual-staff .staff-btns .staff-edit:hover {
            transform: scale(1.1); }
          .content .all-staff .individual-staff .staff-btns .staff-edit:focus {
            outline: none; }
      .content .all-staff .individual-staff .staff-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;
        height: 4rem;
        font-size: 1.4rem;
        color: #222022; }
        .content .all-staff .individual-staff .staff-info small {
          color: #4c4947;
          text-transform: uppercase; }
  .content .all-holds, .content .all-visits, .content .all-shifts {
    display: flex;
    flex-direction: column;
    margin: 3rem 4rem 0 4rem; }
    .content .all-holds .visit-name, .content .all-visits .visit-name, .content .all-shifts .visit-name {
      font-size: 1.6rem;
      padding-bottom: .5rem;
      text-decoration: none;
      color: #18d369;
      font-weight: 700; }
      .content .all-holds .visit-name:hover, .content .all-visits .visit-name:hover, .content .all-shifts .visit-name:hover {
        text-decoration: underline; }
  .content .hold, .content .visit, .content .shift {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #18d369;
    margin: 1rem 0;
    padding-bottom: 1rem;
    position: relative; }
    .content .hold .hold-item, .content .hold .visit-item, .content .hold .shift-item, .content .visit .hold-item, .content .visit .visit-item, .content .visit .shift-item, .content .shift .hold-item, .content .shift .visit-item, .content .shift .shift-item {
      list-style: none;
      padding: .5rem 0; }
      .content .hold .hold-item .hold-info, .content .hold .hold-item .visit-info, .content .hold .hold-item .shift-info, .content .hold .visit-item .hold-info, .content .hold .visit-item .visit-info, .content .hold .visit-item .shift-info, .content .hold .shift-item .hold-info, .content .hold .shift-item .visit-info, .content .hold .shift-item .shift-info, .content .visit .hold-item .hold-info, .content .visit .hold-item .visit-info, .content .visit .hold-item .shift-info, .content .visit .visit-item .hold-info, .content .visit .visit-item .visit-info, .content .visit .visit-item .shift-info, .content .visit .shift-item .hold-info, .content .visit .shift-item .visit-info, .content .visit .shift-item .shift-info, .content .shift .hold-item .hold-info, .content .shift .hold-item .visit-info, .content .shift .hold-item .shift-info, .content .shift .visit-item .hold-info, .content .shift .visit-item .visit-info, .content .shift .visit-item .shift-info, .content .shift .shift-item .hold-info, .content .shift .shift-item .visit-info, .content .shift .shift-item .shift-info {
        border-bottom: 1px dotted #ceccce;
        width: 50%;
        display: flex;
        align-content: space-between; }
        .content .hold .hold-item .hold-info .small, .content .hold .hold-item .visit-info .small, .content .hold .hold-item .shift-info .small, .content .hold .visit-item .hold-info .small, .content .hold .visit-item .visit-info .small, .content .hold .visit-item .shift-info .small, .content .hold .shift-item .hold-info .small, .content .hold .shift-item .visit-info .small, .content .hold .shift-item .shift-info .small, .content .visit .hold-item .hold-info .small, .content .visit .hold-item .visit-info .small, .content .visit .hold-item .shift-info .small, .content .visit .visit-item .hold-info .small, .content .visit .visit-item .visit-info .small, .content .visit .visit-item .shift-info .small, .content .visit .shift-item .hold-info .small, .content .visit .shift-item .visit-info .small, .content .visit .shift-item .shift-info .small, .content .shift .hold-item .hold-info .small, .content .shift .hold-item .visit-info .small, .content .shift .hold-item .shift-info .small, .content .shift .visit-item .hold-info .small, .content .shift .visit-item .visit-info .small, .content .shift .visit-item .shift-info .small, .content .shift .shift-item .hold-info .small, .content .shift .shift-item .visit-info .small, .content .shift .shift-item .shift-info .small {
          color: #4c4947;
          text-transform: uppercase;
          width: 50%;
          font-size: 1.1rem; }
        .content .hold .hold-item .hold-info .hold-content, .content .hold .hold-item .hold-info .visit-content, .content .hold .hold-item .visit-info .hold-content, .content .hold .hold-item .visit-info .visit-content, .content .hold .hold-item .shift-info .hold-content, .content .hold .hold-item .shift-info .visit-content, .content .hold .visit-item .hold-info .hold-content, .content .hold .visit-item .hold-info .visit-content, .content .hold .visit-item .visit-info .hold-content, .content .hold .visit-item .visit-info .visit-content, .content .hold .visit-item .shift-info .hold-content, .content .hold .visit-item .shift-info .visit-content, .content .hold .shift-item .hold-info .hold-content, .content .hold .shift-item .hold-info .visit-content, .content .hold .shift-item .visit-info .hold-content, .content .hold .shift-item .visit-info .visit-content, .content .hold .shift-item .shift-info .hold-content, .content .hold .shift-item .shift-info .visit-content, .content .visit .hold-item .hold-info .hold-content, .content .visit .hold-item .hold-info .visit-content, .content .visit .hold-item .visit-info .hold-content, .content .visit .hold-item .visit-info .visit-content, .content .visit .hold-item .shift-info .hold-content, .content .visit .hold-item .shift-info .visit-content, .content .visit .visit-item .hold-info .hold-content, .content .visit .visit-item .hold-info .visit-content, .content .visit .visit-item .visit-info .hold-content, .content .visit .visit-item .visit-info .visit-content, .content .visit .visit-item .shift-info .hold-content, .content .visit .visit-item .shift-info .visit-content, .content .visit .shift-item .hold-info .hold-content, .content .visit .shift-item .hold-info .visit-content, .content .visit .shift-item .visit-info .hold-content, .content .visit .shift-item .visit-info .visit-content, .content .visit .shift-item .shift-info .hold-content, .content .visit .shift-item .shift-info .visit-content, .content .shift .hold-item .hold-info .hold-content, .content .shift .hold-item .hold-info .visit-content, .content .shift .hold-item .visit-info .hold-content, .content .shift .hold-item .visit-info .visit-content, .content .shift .hold-item .shift-info .hold-content, .content .shift .hold-item .shift-info .visit-content, .content .shift .visit-item .hold-info .hold-content, .content .shift .visit-item .hold-info .visit-content, .content .shift .visit-item .visit-info .hold-content, .content .shift .visit-item .visit-info .visit-content, .content .shift .visit-item .shift-info .hold-content, .content .shift .visit-item .shift-info .visit-content, .content .shift .shift-item .hold-info .hold-content, .content .shift .shift-item .hold-info .visit-content, .content .shift .shift-item .visit-info .hold-content, .content .shift .shift-item .visit-info .visit-content, .content .shift .shift-item .shift-info .hold-content, .content .shift .shift-item .shift-info .visit-content {
          color: #222022;
          font-size: 1.4rem;
          letter-spacing: .05rem; }
        .content .hold .hold-item .hold-info .hold-name, .content .hold .hold-item .visit-info .hold-name, .content .hold .hold-item .shift-info .hold-name, .content .hold .visit-item .hold-info .hold-name, .content .hold .visit-item .visit-info .hold-name, .content .hold .visit-item .shift-info .hold-name, .content .hold .shift-item .hold-info .hold-name, .content .hold .shift-item .visit-info .hold-name, .content .hold .shift-item .shift-info .hold-name, .content .visit .hold-item .hold-info .hold-name, .content .visit .hold-item .visit-info .hold-name, .content .visit .hold-item .shift-info .hold-name, .content .visit .visit-item .hold-info .hold-name, .content .visit .visit-item .visit-info .hold-name, .content .visit .visit-item .shift-info .hold-name, .content .visit .shift-item .hold-info .hold-name, .content .visit .shift-item .visit-info .hold-name, .content .visit .shift-item .shift-info .hold-name, .content .shift .hold-item .hold-info .hold-name, .content .shift .hold-item .visit-info .hold-name, .content .shift .hold-item .shift-info .hold-name, .content .shift .visit-item .hold-info .hold-name, .content .shift .visit-item .visit-info .hold-name, .content .shift .visit-item .shift-info .hold-name, .content .shift .shift-item .hold-info .hold-name, .content .shift .shift-item .visit-info .hold-name, .content .shift .shift-item .shift-info .hold-name {
          text-decoration: none;
          color: #18d369;
          font-weight: 700; }
          .content .hold .hold-item .hold-info .hold-name:hover, .content .hold .hold-item .visit-info .hold-name:hover, .content .hold .hold-item .shift-info .hold-name:hover, .content .hold .visit-item .hold-info .hold-name:hover, .content .hold .visit-item .visit-info .hold-name:hover, .content .hold .visit-item .shift-info .hold-name:hover, .content .hold .shift-item .hold-info .hold-name:hover, .content .hold .shift-item .visit-info .hold-name:hover, .content .hold .shift-item .shift-info .hold-name:hover, .content .visit .hold-item .hold-info .hold-name:hover, .content .visit .hold-item .visit-info .hold-name:hover, .content .visit .hold-item .shift-info .hold-name:hover, .content .visit .visit-item .hold-info .hold-name:hover, .content .visit .visit-item .visit-info .hold-name:hover, .content .visit .visit-item .shift-info .hold-name:hover, .content .visit .shift-item .hold-info .hold-name:hover, .content .visit .shift-item .visit-info .hold-name:hover, .content .visit .shift-item .shift-info .hold-name:hover, .content .shift .hold-item .hold-info .hold-name:hover, .content .shift .hold-item .visit-info .hold-name:hover, .content .shift .hold-item .shift-info .hold-name:hover, .content .shift .visit-item .hold-info .hold-name:hover, .content .shift .visit-item .visit-info .hold-name:hover, .content .shift .visit-item .shift-info .hold-name:hover, .content .shift .shift-item .hold-info .hold-name:hover, .content .shift .shift-item .visit-info .hold-name:hover, .content .shift .shift-item .shift-info .hold-name:hover {
            text-decoration: underline; }
    .content .hold .hold-btns, .content .visit .hold-btns, .content .shift .hold-btns {
      display: flex;
      justify-content: space-between;
      margin-top: .5rem; }
    .content .hold .hold-edit, .content .visit .hold-edit, .content .shift .hold-edit {
      display: flex;
      justify-content: flex-end;
      background-color: #18d369;
      color: #222022;
      text-decoration: none;
      border: 1px solid #18d369;
      border-radius: 100px;
      padding: .5rem 1rem;
      cursor: pointer;
      letter-spacing: .025rem;
      transition: all .2s ease-in-out; }
      .content .hold .hold-edit .hold-edit-icon, .content .visit .hold-edit .hold-edit-icon, .content .shift .hold-edit .hold-edit-icon {
        padding-right: .5rem; }
      .content .hold .hold-edit:hover, .content .visit .hold-edit:hover, .content .shift .hold-edit:hover {
        transform: scale(1.1); }
      .content .hold .hold-edit:focus, .content .visit .hold-edit:focus, .content .shift .hold-edit:focus {
        outline: none; }
    .content .hold .hold-delete, .content .visit .hold-delete, .content .shift .hold-delete {
      display: flex;
      background-color: transparent;
      color: #ff2d26;
      border-style: none;
      border: 1px solid #ff2d26;
      border-radius: 100%;
      text-align: center;
      padding: .5rem .7rem;
      cursor: pointer;
      letter-spacing: .025rem;
      transition: all .2s ease-in-out;
      margin-left: 5rem; }
      .content .hold .hold-delete:hover, .content .visit .hold-delete:hover, .content .shift .hold-delete:hover {
        background-color: #ff2d26;
        color: #f5f5f5; }
      .content .hold .hold-delete:focus, .content .visit .hold-delete:focus, .content .shift .hold-delete:focus {
        outline: none; }
    .content .hold .shift-btns, .content .visit .shift-btns, .content .shift .shift-btns {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .content .hold .shift-btns .shift-edit, .content .visit .shift-btns .shift-edit, .content .shift .shift-btns .shift-edit {
        margin-left: auto;
        grid-column: 2;
        text-align: end;
        background-color: #18d369;
        color: #222022;
        text-decoration: none;
        border: 1px solid #18d369;
        border-radius: 100px;
        padding: .5rem 1rem;
        cursor: pointer;
        letter-spacing: .025rem;
        transition: all .2s ease-in-out; }
        .content .hold .shift-btns .shift-edit:hover, .content .visit .shift-btns .shift-edit:hover, .content .shift .shift-btns .shift-edit:hover {
          transform: scale(1.1); }
        .content .hold .shift-btns .shift-edit:focus, .content .visit .shift-btns .shift-edit:focus, .content .shift .shift-btns .shift-edit:focus {
          outline: none; }
  .content .edit-hold-btn {
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f5f5f5; }
  .content .form-input {
    color: #222022;
    padding-top: .5rem; }
  .content .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .content .edit-form .edit-inputs {
      width: 55vw;
      margin-top: 4rem; }
  .content .custom-select {
    position: relative; }
  .content .styled-select {
    font-family: inherit;
    font-size: inherit;
    background-color: #f5f5f5;
    border: 1px solid #ceccce;
    width: 25%;
    margin-left: 4rem; }
    .content .styled-select:focus {
      outline: none; }
  .content .customer-by-id {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #18d369;
    padding: 2rem 0 2rem 0;
    width: 50%;
    left: 50%;
    transform: translate(50%, 50%); }
    .content .customer-by-id .name-by-id {
      font-size: 2.4rem;
      color: #4c4947;
      letter-spacing: .1rem;
      text-align: center;
      margin-bottom: 1rem; }
    .content .customer-by-id .customer-item {
      list-style: none;
      padding: .5rem 0; }
      .content .customer-by-id .customer-item .customer-info {
        border-bottom: 1px dotted #ceccce;
        width: 50%;
        display: flex;
        align-content: space-between;
        left: 50%;
        transform: translate(50%, 50%); }
        .content .customer-by-id .customer-item .customer-info .small {
          color: #4c4947;
          text-transform: uppercase;
          width: 50%;
          font-size: 1.1rem; }
        .content .customer-by-id .customer-item .customer-info .customer-content {
          color: #222022;
          font-size: 1.4rem;
          letter-spacing: .05rem; }
    .content .customer-by-id .customer-edit {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      margin-top: 2rem;
      margin-right: 2rem;
      padding: 2rem 2rem 0 0;
      background-color: #18d369;
      color: #222022;
      text-decoration: none;
      border: 1px solid #18d369;
      border-radius: 100px;
      padding: .5rem 1rem;
      cursor: pointer;
      letter-spacing: .025rem;
      transition: all .2s ease-in-out; }
      .content .customer-by-id .customer-edit .customer-edit-icon {
        padding-right: .2rem; }
      .content .customer-by-id .customer-edit:hover {
        transform: scale(1.1); }
      .content .customer-by-id .customer-edit:focus {
        outline: none; }
  .content .all-comments {
    margin: 2rem 4rem; }
    .content .all-comments .h2s {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 4rem;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ceccce;
      color: #4c4947; }
    .content .all-comments .comment-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 4rem;
      margin-bottom: 1rem;
      padding-bottom: .5rem;
      border-bottom: 1px dotted #18d369;
      font-size: 1.2rem;
      color: #222022; }
  .content .comments-footer {
    max-height: 30vh; }
    .content .comments-footer .post-comment-h3 {
      font-family: 'Josefin Sans', sans-serif;
      color: #4c4947; }
    .content .comments-footer .comment-form {
      display: flex;
      justify-content: space-between; }
      .content .comments-footer .comment-form .add-comment-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%; }
        .content .comments-footer .comment-form .add-comment-form .comment-input {
          padding-top: 3rem; }
        .content .comments-footer .comment-form .add-comment-form .new-comment-input {
          padding: .5rem 0 0 1rem;
          position: relative;
          width: 100%;
          border: none;
          border-bottom: 1px solid #ceccce;
          font-size: 1.2rem;
          font-weight: 200;
          letter-spacing: 1px;
          line-height: 1rem;
          outline: 0;
          background: transparent;
          box-shadow: none;
          color: #222022; }
          .content .comments-footer .comment-form .add-comment-form .new-comment-input:focus {
            border-bottom: 1px solid #18d369; }
        .content .comments-footer .comment-form .add-comment-form .comment-selects {
          display: flex;
          justify-content: space-between; }
          .content .comments-footer .comment-form .add-comment-form .comment-selects .styled-select {
            width: 20rem;
            margin-left: 1rem; }
        .content .comments-footer .comment-form .add-comment-form .new-comment-textarea {
          border: 1px solid #ceccce;
          display: block;
          width: 100%;
          font-size: 1.2rem; }
          .content .comments-footer .comment-form .add-comment-form .new-comment-textarea:focus {
            border: 1px solid #18d369;
            outline: none; }
        .content .comments-footer .comment-form .add-comment-form .new-comment-label {
          font-size: 1rem;
          color: #18d369; }
      .content .comments-footer .comment-form .new-comment-btn {
        margin: auto;
        margin-left: 20rem;
        height: 25%;
        padding: 1rem 2rem;
        background-color: #18d369;
        color: white;
        border: 1px solid #18d369;
        border-radius: 100px;
        font-size: 1.2rem;
        letter-spacing: 1.5px;
        cursor: pointer;
        transition: all .2s ease-in-out; }
        .content .comments-footer .comment-form .new-comment-btn:hover {
          transform: scale(1.1); }
