@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto");
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

/* Landing */
.landing-image {
  background-image: url("../landing.jpg");
  background-size: cover;
  background-position: top;
  opacity: 0.8;
  filter: grayscale(100%);
  width: 100vw;
  height: 100vh;
  position: relative; }

.login-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(34, 32, 34, 0.95);
  min-width: 40rem;
  border-radius: 1rem;
  text-align: center; }
  .login-box .login-h1 {
    margin: 3rem 0;
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #ceccce;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center; }

.login-btn {
  text-transform: uppercase;
  background-color: #18d369;
  color: #222022;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  border: none; }
  .login-btn:hover {
    transform: translateY(-3px); }
  .login-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: #18d369;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .login-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .login-btn:focus {
    outline: none; }

.input-group {
  position: relative;
  padding: 1rem 2rem 2rem 2rem;
  margin: 0 1rem 2rem 1rem;
  transition: opacity 0.3s ease-in-out; }
  .input-group input {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ceccce;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 2rem;
    outline: 0;
    background: transparent;
    box-shadow: none;
    color: #ceccce;
    margin-bottom: 3rem; }
    .input-group input:focus {
      border-bottom: 1px solid #18d369; }
  .input-group .invalid-feedback {
    color: #ff2d26;
    letter-spacing: 1px;
    margin-bottom: 2rem; }

/* Header */
.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #222022;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .brand {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 3rem;
    color: #18d369; }
  .header .search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .search .search-input {
      font-family: inherit;
      font-size: 1.4rem;
      color: inherit;
      background-color: #f5f5f5;
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all .2s;
      margin-right: -3rem; }
      .header .search .search-input:focus {
        outline: none;
        width: 100%; }
      .header .search .search-input::-webkit-input-placeholder {
        color: #ceccce; }
    .header .search .search-btn {
      border: none;
      background-color: #f5f5f5;
      color: #4c4947; }
      .header .search .search-btn:focus {
        outline: none; }
      .header .search .search-btn:active {
        transform: translateY(2px); }
  .header .logout-btn {
    margin-right: 2rem;
    color: #222022;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    border: 2px solid #18d369;
    border-radius: 100px;
    padding: 1rem 2rem; }
    .header .logout-btn:hover {
      background-color: #18d369;
      color: white; }

/* Dashboard layout */
.container {
  display: flex; }

/* Navbar - Sidebar */
.sidebar {
  background-color: #222022;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar .nav {
    margin-top: 3.5rem; }
    .sidebar .nav .link {
      position: relative;
      font-size: 1.4rem;
      color: #f5f5f5;
      display: block;
      padding: 2rem 3rem;
      display: flex;
      align-items: center; }
      .sidebar .nav .link:not(:last-child) {
        margin-bottom: .5rem; }
      .sidebar .nav .link .nav-link {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 10; }
      .sidebar .nav .link .nav-icon {
        font-size: 1.75rem;
        width: 1.75rem;
        margin-right: 2rem;
        z-index: 10; }
    .sidebar .nav .link::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #18d369;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
    .sidebar .nav .link:hover::before {
      transform: scaleY(1);
      width: 100%; }
  .sidebar .legal-text {
    text-align: center;
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-bottom: 2rem; }

/* Main content */
.content {
  flex: 1;
  min-height: 93vh; }
