@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto");
@import url('https://fonts.googleapis.com/css?family=Bad+Script');;

$primary: #6ead3a;
$secondary: #4c4947;
$background: #efedef;
$dark: #222022;
$light: #ceccce;
$error: #ff2d26;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: $background;
  font-family: 'Roboto', sans-serif;
}

/* Landing */
.landing-image {
  background-image: url('../landing.jpg');
  background-size: cover;
  background-position: top;
  opacity: 0.8;
  filter: grayscale(90%);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.login-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color: rgb(34, 32, 34), $alpha: 0.9);
  min-width: 400px;
  border-radius: 1rem;
  text-align: center;
  .login-h1 {
    margin-top: 2rem;
    font-size: 3rem;
    font-family: 'Bad Script', cursive;
    color: $light;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
  }
}

.login-btn {
  text-transform: uppercase;
  background-color: $light;
  color: $secondary;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 100px;
  transition: all .2s;
  position: relative;

  &:hover {
    transform: translateY(-3px);
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: $light;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

.input-group {
  position: relative;
  padding: 1rem 2rem 2rem 2rem;
  margin: 0 1rem 1rem 1rem;
  transition: opacity 0.3s ease-in-out;

  input {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 1px solid $light;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 2rem;
    outline: 0;
    background: transparent;
    box-shadow: none;
    color: $light;
    margin-bottom: 2rem;
    &:focus {
      border-bottom: 1px solid $primary;
    }
  }


}

/* Dashboard */

/* Navbar */