@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

$primary: #18d369;
$secondary: #4c4947;
$background: #f5f5f5;
$dark: #222022;
$light: #ceccce;
$error: #ff2d26;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.welcome-h1,
.new-shift-h1,
.new-visit-h1,
.customers-h1,
.shifts-h1,
.visits-h1,
.purchases-h1,
.holds-h1,
.comments-h1,
.staff-h1,
.edit-h1 {
  color: $dark;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 3rem;
  font-size: 4rem;
}

body {
  background: $background;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* Landing */
.landing-image {
  background-image: url('../landing.jpg');
  background-size: cover;
  background-position: top;
  opacity: 0.8;
  filter: grayscale(100%);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.login-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color: rgb(34, 32, 34), $alpha: 0.95);
  min-width: 40rem;
  border-radius: 1rem;
  text-align: center;

  .login-h1 {
    margin: 3rem 0;
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    color: $light;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
  }
}

.login-btn {
  text-transform: uppercase;
  background-color: $primary;
  color: $dark;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  border: none;

  &:hover {
    transform: translateY(-3px);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: $primary;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &:focus {
    outline: none;
  }
}

.input-group {
  position: relative;
  padding: 1rem 2rem 2rem 2rem;
  margin: 0 1rem 2rem 1rem;
  transition: opacity 0.3s ease-in-out;

  input {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 1px solid $light;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 2rem;
    outline: 0;
    background: transparent;
    box-shadow: none;
    color: $light;
    margin-bottom: 3rem;

    &:focus {
      border-bottom: 1px solid $primary;
    }
  }

  .invalid-feedback {
    color: $error;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }
}

/* Header */
.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid $dark;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 3rem;
    color: $primary;
  }
  .search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    .search-input {
      font-family: inherit;
      font-size: 1.4rem;
      color: inherit;
      background-color: $background;
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all .2s;
      margin-right: -3rem;

      &:focus {
        outline: none;
        width: 100%;
      }

      &::-webkit-input-placeholder {
        color: $light;
      }
    }

    .search-btn {
      border: none;
      background-color: $background;
      color: $secondary;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }

  .logout-btn {
    margin-right: 2rem;
    color: $primary;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid $primary;
    border-radius: 100px;
    padding: 1rem 2rem;

    &:hover {
      background-color: $primary;
      color: white;
    }
  }
}


/* Dashboard layout */
.container {
  display: flex;
}

/* Navbar - Sidebar */
.sidebar {
  background-color: $dark;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav {
    margin-top: 3.5rem;

    .link {
      position: relative;
      font-size: 1.4rem;
      color: white;
      display: block;
      padding: 2rem 3rem;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: .5rem;
      }

      .nav-link {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 10;
      }

      .nav-icon {
        font-size: 1.75rem;
        width: 1.75rem;
        margin-right: 2rem;
        z-index: 10;
      }
    }

    .link::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $primary;
      transform: scaleY(0);
      transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s;
    }

    .link:hover::before {
      transform: scaleY(1);
      width: 100%;
    }
  }

  .legal-text {
    text-align: center;
    color: $background;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

/* Main content */
.content {
  flex: 1;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .date-time {
    border: 2px solid $light;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    transform: translate(150%, -50%);
    font-size: 2rem;
    color: $secondary;
    padding: 2rem;
  }

  .dashboard-btns {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    margin-top: -15rem;

    .btn-container-left {
      margin-left: 10rem;
      display: flex;
      flex-direction: column;
      text-align: center;

      .new-shift-btn {
        text-decoration: none;
        border: 2px solid $primary;
        border-radius: 100px;
        padding: 3rem 4rem;
        background-color: $primary;
        color: $background;
        transition: all .2s;

        &:hover {
          background-color: $background;
          color: $primary;
          transform: translateY(5px);
        }
      }
    }

    .btn-container-right {
      margin-right: 10rem;
      display: flex;
      flex-direction: column;
      text-align: center;

      .new-visit-btn {
        text-decoration: none;
        border: 2px solid $primary;
        border-radius: 100px;
        padding: 3rem 4rem;
        color: $primary;
        transition: all .2s;

        &:hover {
          background-color: $primary;
          color: $background;
          transform: translateY(5px);
        }
      }
    }

    .dash-icon {
      margin-bottom: 2rem;
      font-size: 3.5rem;
      color: $secondary;
    }
  }

  /* New shift */
  .new-shift-submit, .new-visit-submit {
    color: $background;
    letter-spacing: 1px;
    font-weight: 700;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .new-shift-form, .new-visit-form {
    margin: 2rem 20rem;
  }

  /* Customers */
  .all-customers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 6rem;

    .customer {
      margin: 2rem 4rem;

      .customer-links {
        color: $dark;
        text-decoration: none;
        border: 1px solid $primary;
        border-radius: 100px;
        padding: .5rem 1rem;
        letter-spacing: .025rem;

        &:hover {
          color: $background;
          background-color: $primary;
        }
      }

      .customer-name {
        text-decoration: none;
        font-size: 1.6rem;
        color: $primary;
        letter-spacing: .1rem;

        &:hover {
          text-decoration: underline;
        }
      }

      .links {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        font-size: 1.2rem;
        max-width: 35vw;
        border-bottom: 1px solid $light;
        padding-bottom: 1.5rem;

        .customer-edit {
          background-color: $primary;
          color: $dark;
          text-decoration: none;
          border: 1px solid $primary;
          border-radius: 100px;
          padding: .5rem 1rem;
          cursor: pointer;
          letter-spacing: .025rem;
          transition: all .2s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }

          &:focus {
            outline: none;
          }
        }

        .customer-delete {
          background-color: $dark;
          color: $primary;
          border: 1px solid $dark;
          border-radius: 100px;
          padding: .5rem 1rem;
          cursor: pointer;
          letter-spacing: .025rem;
          transition: all .2s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .customers-footer,
  .staff-footer {
    position: fixed;
    bottom: 0;
    padding: 2rem 4rem;
    border-top: 1px solid $light;
    width: 100%;
    font-size: 1.4rem;
    background-color: white;

    .new-customer-link,
    .new-staff-link {
      color: $primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Staff */
  .all-staff {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4rem;
    margin-bottom: 6rem;
    max-width: 35vw;

    .individual-staff {
      margin-bottom: 2rem;
      border-bottom: 1px solid $light;
      padding-bottom: 1.5rem;

      .staff-name {
        color: $secondary;
        font-size: 1.6rem;
      }

      .staff-btns {
        display: flex;
        justify-content: flex-end;

        .staff-delete {
          background-color: $dark;
          color: $primary;
          border: 1px solid $dark;
          border-radius: 100px;
          padding: .5rem 1rem;
          cursor: pointer;
          letter-spacing: .025rem;
          transition: all .2s ease-in-out;
          margin-left: 5rem;

          &:hover {
            transform: scale(1.1);
          }

          &:focus {
            outline: none;
          }
        }

        .staff-edit {
          background-color: $primary;
          color: $dark;
          text-decoration: none;
          border: 1px solid $primary;
          border-radius: 100px;
          padding: .5rem 1rem;
          cursor: pointer;
          letter-spacing: .025rem;
          transition: all .2s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }

          &:focus {
            outline: none;
          }
        }
      }

      .staff-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;
        height: 4rem;
        font-size: 1.4rem;
        color: $dark;

        small {
          color: $secondary;
          text-transform: uppercase;
        }
      }
    }
  }

  /* Holds + Current Visits */
  .all-holds, .all-visits {
    display: flex;
    flex-direction: column;
    margin: 3rem 4rem 0 4rem;

    .visit-name {
      font-size: 1.6rem;
      padding-bottom: .5rem;
      text-decoration: none;
      color: $primary;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .hold, .visit {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $primary;
    margin: 1rem 0;
    padding-bottom: 1rem;
    position: relative;

    .hold-item, .visit-item {
      list-style: none;
      padding: .5rem 0;

      .hold-info, .visit-info {
        border-bottom: 1px dotted $light;
        width: 50%;
        display: flex;
        align-content: space-between;

        .small {
          color: $secondary;
          text-transform: uppercase;
          width: 50%;
          font-size: 1.1rem;
        }

        .hold-content, .visit-content {
          color: $dark;
          font-size: 1.4rem;
          letter-spacing: .05rem;
        }

        .hold-name {
          text-decoration: none;
          color: $primary;
          font-weight: 700;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .hold-btns {
      display: flex;
      justify-content: space-between;
      margin-top: .5rem;
    }

    .hold-edit {
      display: flex;
      justify-content: flex-end;
      background-color: $primary;
      color: $dark;
      text-decoration: none;
      border: 1px solid $primary;
      border-radius: 100px;
      padding: .5rem 1rem;
      cursor: pointer;
      letter-spacing: .025rem;
      transition: all .2s ease-in-out;

      .hold-edit-icon { padding-right: .5rem;}

      &:hover {
        transform: scale(1.1);
      }

      &:focus {
        outline: none;
      }
    }

    .hold-delete {
      display: flex;
      background-color: transparent;
      color: $error;
      border-style: none;
      border: 1px solid $error;
      border-radius: 100%;
      text-align: center;
      padding: .5rem .7rem;
      cursor: pointer;
      letter-spacing: .025rem;
      transition: all .2s ease-in-out;
      margin-left: 5rem;

      &:hover {
        background-color: $error;
        color: $background;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .edit-hold-btn {
    left: 50%;
    transform: translate(-50%, -50%);
    color: $background;
  }

  .form-input {
    color: $dark;
    padding-top: .5rem;
  }

  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .edit-inputs {
      width: 55vw;
      margin-top: 4rem;
    }
  }

  .custom-select {
    position: relative;
  }
  .styled-select {
    font-family: inherit;
    font-size: inherit;
    background-color: $background;
    border: 1px solid $light;
    width: 25%;
    margin-left: 4rem;

    &:focus {
      outline: none;
    }
  }

  /* Customer by id */
  .customer-by-id {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $primary;
    padding: 2rem 0 2rem 0;
    width: 50%;
    left: 50%;
    transform: translate(50%, 50%);

    .name-by-id {
      font-size: 2.4rem;
      color: $secondary;
      letter-spacing: .1rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    .customer-item {
      list-style: none;
      padding: .5rem 0;

      .customer-info {
        border-bottom: 1px dotted $light;
        width: 50%;
        display: flex;
        align-content: space-between;
        left: 50%;
        transform: translate(50%, 50%);

        .small {
          color: $secondary;
          text-transform: uppercase;
          width: 50%;
          font-size: 1.1rem;
        }

        .customer-content {
          color: $dark;
          font-size: 1.4rem;
          letter-spacing: .05rem;
        }
      }
    }

    .customer-edit {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      margin-top: 2rem;
      margin-right: 2rem;
      padding: 2rem 2rem 0 0;
      background-color: $primary;
      color: $dark;
      text-decoration: none;
      border: 1px solid $primary;
      border-radius: 100px;
      padding: .5rem 1rem;
      cursor: pointer;
      letter-spacing: .025rem;
      transition: all .2s ease-in-out;

      .customer-edit-icon {
        padding-right: .2rem;
      }

      &:hover {
        transform: scale(1.1);
      }

      &:focus {
        outline: none;
      }
    }
  }

  /* Comments */
  .all-comments {

    .comment-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .comments-footer {
    max-height: 30vh;

    .post-comment-h3 {
      font-family: 'Josefin Sans', sans-serif;
      color: $secondary;
    }

    .comment-form {
      display: flex;
      justify-content: space-between;

      .add-comment-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;

        .comment-input {
          padding-top: 3rem;
        }

        .new-comment-input {
          padding: .5rem 0 0 1rem;
          position: relative;
          width: 100%;
          border: none;
          border-bottom: 1px solid $light;
          font-size: 1.2rem;
          font-weight: 200;
          letter-spacing: 1px;
          line-height: 1rem;
          outline: 0;
          background: transparent;
          box-shadow: none;
          color: $dark;

          &:focus {
            border-bottom: 1px solid $primary;
          }
        }

        .comment-selects {
          display: flex;
          justify-content: space-between;

          .styled-select {
            width: 20rem;
            margin-left: 1rem;
          }
        }

        .new-comment-textarea {
          border: 1px solid $light;
          display: block;
          width: 100%;
          font-size: 1.2rem;

          &:focus {
            border: 1px solid $primary;
            outline: none;
          }
        }

        .new-comment-label {
          font-size: 1rem;
          color: $primary;
        }
      }

      .new-comment-btn {
        margin: auto;
        margin-left: 20rem;
        height: 25%;
        padding: 1rem 2rem;
        background-color: $primary;
        color: white;
        border: 1px solid $primary;
        border-radius: 100px;
        font-size: 1.2rem;
        letter-spacing: 1.5px;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}